.one{
    text-align: right;
    padding-right: 250px;
    
}
.p2{
    padding-left: 250px;
    font-size: 30px;
    color: blue;
    font-family: serif;
}
.nav {
    background-color: rgb(205, 205, 253);
  }
.nav-link{
    color: black;
}
.li{
    padding-right: 250px;
}
.nav2{
    background-color: rgb(100, 106, 112);
}
.div1{
    float: left;
    height: 80%;
    width: 65%;
    padding-top: 20px;
   
}
.div2{
    float: right;
    height: 80%;
    width: 35%;
    padding: 20px;

}
.img1{
    width:100%;
    height:600px;
}

.div4{
    padding: 20px;
    width:450px;
    height:340px;
}
.foot{
    padding-right: 70px;
}
.social{
    width: 200px;
    height: 70px;
}
.ulcopy{
    height: 50px;
}